<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/PepperDash/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="andrew-welker" />
            <add key="ClearTextPassword" value="0aa1cff711365cbf6418f085e9c6757ca5e60d41" />
        </github>
    </packageSourceCredentials>
</configuration>